.k-main {
    background-image: url('../../../public/zdj/tlo.jpg');
    height: 115vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.k-left {
    float: left;
    width: 50%;
    height: 100%;
}

.k-right {
    background-color: rgba(0,0,0,0.8);
    float: left;
    width: 50%;
    height: 100%;
}

.L-word {
    position: absolute;
    left: 18vw;
    color: #EF233C;
    font-size: 12vw;
    text-align: right;
}

.R-word {
    position: absolute;
    right: 18vw;
    color: #FFFFFF;
    font-size: 12vw;
}

.clear {
    clear: both;
}

.k-descriptions {
    top: 15vw;
    position: absolute;
}

.kalk-item {
    margin: 6vw auto;
    width: 60%;
    color: #FFFFFF;
    display: flex;
    gap: 30%;
}


.k-img {
    width: 25%;
    height: 100%;
    min-width: 30%;
}

.k-textpart, .k-img{
    float: left;
}

.k-textpart {
    height: 30%;
    width: 60%;
    min-width: 60%;
}

.k-textpart h2{
    margin-top: 0.3em;
    color: #EF233C;
    font-size: 3vw;
    line-height: 3.5vw;
}

.k-textpart p {
    color: #FFFFFF;
    font-size: 2vw;
}

.k-link {
    text-decoration: none;
}