.onas-opis {
    background-color: black;
    display: flex;
    flex-wrap: wrap; 
    font-family: Lalezar;
}

.oocontent{
    padding-left: 18%;
    padding-right: 15%;
    padding-bottom: 4%;
    padding-top: 1%;
    width: 100%;
    
}

h1.oo{
    color: #ef233c;
    font-size: 4em;
    text-transform: capitalize;
}

p.oo{
    color: white;
    font-size: 2.5em;
    box-sizing: border-box;
    font-weight: bold;
    flex-direction: column;
    text-align: justify; 
}

@media screen and (max-width: 1450px) {
    h1.oo{
        color: #ef233c;
        font-size: 2.75em;
        text-transform: capitalize;
        
    }

    p.oo{
        color: white;
        font-size: 1.5em;
        width: 90%;
    }
}