.atuty {
    background-color: #ef233c;
    color: white;
    font-size: 1em;
    font-family: Lalezar;
    margin-top: auto;
}

.acontent {
    padding: 5% 10%; /* Dodano ogólne dopełnienie */
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    justify-items: center; /* Ustawia elementy na środku poziomo */
    padding-bottom: 3%;
}

.divonasimg{
    size: 20%;
}

img.onasimg{
    width: 100%;
}

h1.h1ekspansja{
    padding-top: 3%;
}

.doswiadczenie{
    flex: 1;
    width: 50%; /* Zmieniono szerokość na 100%, aby wypełnić dostępne miejsce */
    box-sizing: border-box; /* Dodano box-sizing, aby zachować pełną szerokość wraz z paddingiem */
    padding-top: 2%; /* Dodano dopełnienie od góry */
}

.ekspansja{
    flex: 1;
    width: 50%; /* Zmieniono szerokość na 100%, aby wypełnić dostępne miejsce */
    box-sizing: border-box; /* Dodano box-sizing, aby zachować pełną szerokość wraz z paddingiem */
    padding-top: 2%;
}

.definicja{
    flex: 1;
    width: 50%; /* Zmieniono szerokość na 100%, aby wypełnić dostępne miejsce */
    box-sizing: border-box; /* Dodano box-sizing, aby zachować pełną szerokość wraz z paddingiem */
    padding-top: 2%; /* Dodano dopełnienie od góry */
}

.nowoczesnosc {
    flex: 1;
    width: 50%; /* Zmieniono szerokość na 100%, aby wypełnić dostępne miejsce */
    box-sizing: border-box; /* Dodano box-sizing, aby zachować pełną szerokość wraz z paddingiem */
    padding-top: 2%; /* Dodano dopełnienie od góry */
}

h1 {
    font-size: 1.5em;
    text-align: center;
    align-self: center; /* Wyrównaj wysokość h1 do środka */
    padding-top: 5%; /* Dopełnienie od góry */
    white-space: nowrap;
}

p {
    font-size: 1em;
    text-align: center;
}

img.doswiadczenie{
    width: 100%;
}

img.ekspansja{
    width: 110%;
    margin-bottom: -8.5%;
}

img.definicja{
    width: 100%;
}

img.nowoczesnosc{
    width: 100%;
}

