.atuty {
    background-color: #ef233c;
    color: white;
    font-size: 1em;
    font-family: Lalezar;
    margin-top: auto;
}

.acontent {
    padding: 5% 10%; 
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    justify-items: center; 
    padding-bottom: 3%;
}

.divonasimg{
    size: 20%;
}

img.onasimg{
    width: 100%;
}

h1.h1ekspansja{
    padding-top: 3%;
}

.doswiadczenie{
    flex: 1;
    width: 50%; 
    box-sizing: border-box; 
    padding-top: 2%; 
}

.ekspansja{
    flex: 1;
    width: 50%; 
    box-sizing: border-box; 
    padding-top: 2%;
}

.definicja{
    flex: 1;
    width: 50%; 
    box-sizing: border-box; 
    padding-top: 2%; 
}

.nowoczesnosc {
    flex: 1;
    width: 50%; 
    box-sizing: border-box; 
    padding-top: 2%; 
}

h1.h1atuty{
    font-size: 1.5em;
    text-align: center;
    align-self: center; 
    padding-top: 5%; 
    white-space: nowrap;
}

p.p1atuty{
    font-size: 1em;
    text-align: center;
}

img.doswiadczenie{
    width: 100%;
}

img.ekspansja{
    width: 110%;
    margin-bottom: -8.5%;
}

img.definicja{
    width: 100%;
}

img.nowoczesnosc{
    width: 100%;
}

