body{
    margin: 0;
    overflow-x: hidden;
}
.tlo{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black; /* Czarne tło */
}
.slider{
    width: 99vw;
    height: 100vh;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    width: max-content;
    transition: 1s;
}
.list img{
    width:  99vw;
    height: 100vh;
    object-fit: cover;
}
.buttonsl{
    position: absolute;
    top: 0%;
    left: -10%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.buttonsr{
    position: absolute;
    top: 0%;
    left: 92%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.buttonsl button:hover, .buttonsr button:hover{
    background-color: white;
    opacity: 0.2;
}
.buttonsl button, .buttonsr button{
    width: 20%;
    height: 100vh;
    border-radius: 50%;
    background-color: lightgray;
    opacity: 0.03;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.dots{
    position: absolute;
    bottom: 10px;
    color: gray;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: gray;
    margin: 20px;
    border-radius: 20px;
    transition: 0.4s;
    cursor: pointer;
}
.dots li.active{
    width: 30px;
    
}
